
<%=flash[:notice] if flash[:notice]%>


<%= form_for :file_upload, :html => {:multipart => true}, :url=>{:action=>'tounzip'} do |f| %>
  <%= f.file_field :my_file %>
  <%= f.submit "Upload" %>
<% end %>

<br>
<ul>
<li><%=link_to "PatientTB", patienttbs_path%></li>
<li><%=link_to "SlitLampTB", slitlamptbs_path%></li>
<li><%=link_to "Audit", audits_path%></li>
<li><%=link_to "Settings", "/settings"%>
</ul>

