<h1>Audits</h1>

<table>
  <tr >
    <th>S.No.</th>
    <th>Record </th>
    <th>Record Type</th>
    <th>Action</th>
    <th>IP</th>
    <th>Date</th>
  </tr>
  <%@sr=1%>
<%if !@audits.nil?%>  
<% @audits.each do |audit|%>
<tr>
<td><%=@sr%></td>
<td>
          <%if audit.action=="Del" || audit.action=="New"%>
              <%if audit.record_type=="patienttb"%>
                  <%= link_to audit.record_id, "patienttbs/#{audit.record_id}"%>
                <%else%>
                   <%= link_to audit.record_id, "slitlamptbs/#{audit.record_id}"%>
              <%end%>
          <%elsif audit.action==".Zip Uplaod"%>
          <%= audit.record_id%>
          <%else%>
          <%= link_to audit.record_id, "/audit/audit_logs/#{audit.id}"%>
          <%end%>
</td>
<td><%=audit.record_type%></td>
<td><%=audit.action%></td>
<td><%=audit.ip%></td>
<td><%=audit.created_at%></td>
</tr>
<%@sr=@sr+1%>
<%end%>
<%end%>
