

<script type="text/javascript">
  //date piker
	jQuery(function() {
          jQuery( ".datepicker" ).datepicker({
            maxDate: "+0M +0D",
            //numberOfMonths: 1,
            showOn: "both",
            dateFormat: "yy-mm-dd",
            changeMonth: true,
			      changeYear: true,
   		      buttonImage: "/images/calendar.gif",
			      yearRange: "-30:+0"

          });
    	});
</script>
<%=javascript_include_tag "jwplayer.js"%>

	<div id="container">
	</div>
	
<!-- 	<script type="text/javascript">
  jwplayer("container").setup({
			flashplayer: "/jwplayer/player.swf",
			file: "/images/pimages/70202/original/dd.avi",
			image: "/jwplayer/preview.jpg"
		});
  </script>
-->  
  
<style>
.input{
margin-bottom: 4px;
}
ul { list-style-image: url("/images/arrow.gif") }
</style>



<%= form_for(@patienttb,:html => { :multipart => true }) do |f| %>
  <% if @patienttb.errors.any? %>
    <div id="error_explanation" style="margin-left:2%;color: red;font-family: Times New roman;font-size: 17px;">
     <!-- <h2><%#= pluralize(@patienttb.errors.count, "error") %> prohibited this Patient from being saved:</h2>-->

      <ul>
      <% @patienttb.errors.each do |attr, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<br>

<h1 class="heading mar6"><%=@h1%></h1>
<div id='first' style="
    position: relative;
margin-left: 7%;
margin-top: 5%;
">
        <div class="field">
          <%= f.label "Patient Id" %><br />
          <%= f.text_field :patientid ,:class =>"input"%>
        </div>
        
        <%if !@patienttb.new_record?%>
           <%if @patienttb.is_delete==true%>
              <div class="field">
              <%= f.label :is_delete %>
              <%=f.check_box :is_delete %>
              </div>
            <%end%>
        <%end%>
        
         <div class="field">
          <%= f.label "Last Name" %><br />
          <%= f.text_field :namelast,:class =>"input" %>
        </div>
         
         <div class="field">
          <%= f.label "Middle Name" %><br />
          <% "input" #= @patienttb.errors.include?(:namem) ? "highlight_error_class" : "input" %>
          <%= f.text_field :namem ,:class =>"input"%>
        </div>
        
        <div class="field">
          <%= f.label "First Name" %><br />
          <% "input" #= @patienttb.errors.include?(:namefirst) ? "highlight_error_class" : "input" %>
          <%= f.text_field :namefirst ,:class =>"input"%>
        </div>
          
        <div class="field">
          <%= f.label "Sex" %><br />
          <%= select(:patienttb, :sex, [['Male','M'],['Female','F']],{},:class=>'select')%> 
        </div>
        
        <div class="field">
          <%= f.label "Birth Date" %><br />
          <% "input" #= @patienttb.errors.include?(:birthdate) ? "highlight_error_class" : "input" %>
          <%= f.text_field :birthdate, :class=>'datepicker input'%>
          <%#= f.datetime_select :birthdate %>
        </div>
        
        <div class="field">
            <%= f.label "Date of Visit" %><br />
           <% "input" #= @patienttb.errors.include?(:firstvisitdate) ? "highlight_error_class" : "input" %>
           <%= f.text_field :firstvisitdate, :class=>'datepicker input'%>
           <%#= f.datetime_select :firstvisitdate %>
          </div>
          
          <div class="field">
            <%= f.label "Comment" %><br />
            <% "input" #= @patienttb.errors.include?(:comments) ? "highlight_error_class" : "input" %>
            <%= f.text_area :comments,:class =>"input", :style=>"height:45px; resize: none;"%>
          </div>
  </div><!--Div first closed  -->
          <div id="second" >
          <div class="field">
            <%= f.label "Ssn" %><br />
            <% "input" #= @patienttb.errors.include?(:ssn) ? "highlight_error_class" : "input" %>
            <%= f.text_field :ssn,:class =>"input" %>
          </div>
          
         
          <div class="field">
            <%= f.label :race %><br />
            <% "input" #= @patienttb.errors.include?(:race) ? "highlight_error_class" : "input" %>
            <%= f.text_field :race ,:class =>"input"%>
          </div>
          <div class="field">
            <%= f.label "Blood Type" %><br />
            <% "input" #= @patienttb.errors.include?(:bloodtype) ? "highlight_error_class" : "input" %>
            <%= f.text_field :bloodtype,:class =>"input" %>
          </div>
          <div class="field">
            <%= f.label "Street" %><br />
            <% "input" #= @patienttb.errors.include?(:addressstreet) ? "highlight_error_class" : "input" %>
            <%= f.text_field :addressstreet,:class =>"input" %>
          </div>
          <div class="field">
            <%= f.label "Town" %><br />
            <% "input" #= @patienttb.errors.include?(:addresstown) ? "highlight_error_class" : "input" %>
            <%= f.text_field :addresstown ,:class =>"input"%>
          </div>
          <div class="field">
            <%= f.label "State" %><br />
            <% "input" #= @patienttb.errors.include?(:addressstreet) ? "highlight_error_class" : "input" %>
            <%= f.text_field :addressstate ,:class =>"input"%>
          </div>
          <div class="field">
            <%= f.label "zip" %><br />
            <% "input" #= @patienttb.errors.include?(:addresszip) ? "highlight_error_class" : "input" %>
            <%= f.text_field :addresszip,:class =>"input" %>
          </div>
          <div class="field">
            <%= f.label "country" %><br />
            <% "input" #= @patienttb.errors.include?(:addresscountry) ? "highlight_error_class" : "input" %>
            <%= f.text_field :addresscountry,:class =>"input" %>
          </div>
          <div class="field">
            <%= f.label "Tele Number" %><br />
            <% "input" #= @patienttb.errors.include?(:telenumber) ? "highlight_error_class" : "input" %>
            <%= f.text_field :telenumber,:class =>"input" %>
          </div>
          <div class="field">
            <%= f.label :oculardiag %><br />
            <%  input = @patienttb.errors.include?(:oculardiag) ? "highlight_error_class" : "input" %>
            <%= f.text_field :oculardiag,:class =>"input"%>
          </div>
          <div class="field">
            <%= f.label "Medical Diagnosis" %><br />
            <% "input" #= @patienttb.errors.include?(:medicaldiag) ? "highlight_error_class" : "input" %>
            <%= f.text_field :medicaldiag,:class =>"input" %>
          </div>
          
      <input type="file" id="patienttb_pimage" multiple = "multiple" name="slitlamptb[][pimage]" /> 


 <!--     
<%#= video_tag (["movie.mp4", "movie.ogg", "movie.webm"] :size => "320x240", :controls => true, :autobuffer => true) %>      
<%#= video_tag "/videos/nl.mp4", :size => "320x240", :controls => true %>

<video width="320" height="240" controls="controls">
      <source src="/videos/nl.mp4"/>
 Your browser does not support the video tag.
</video>
-->      
          <%if @patienttb.new_record?%>
               <% if @p%> 
                <%@p.each do |p|%>
                <div class="field">
                <label><%=p.field_name%></label> <br/>
                    <% if params[:custom] %>
                           <% params[:custom].each do |key, value|%>
                               <%if key==p.field_name%>
                                <input type=text name='custom[<%=p.field_name%>]' value="<%=value%>" class =input>
                                <%end%>
                            <%end%>
                     <%else%> 
                       <input type=text name='custom[<%=p.field_name%>]' class =input>
                     <%end%>
                </div>
                <%end%>
                <%end%>
          <%else%>
                <% if @p%> 
                    <%@p.each do |p|%>
                    <div class="field">
                    <label><%=p.field_name%></label> <br/>
                     <% if params[:custom] %>
                           <% params[:custom].each do |key, value|%>
                               <%if key==p.field_name%>
                                <input type=text name='custom[<%=p.field_name%>]' value="<%=value%>" class =input size='30'>
                                <%end%>
                            <%end%>
                     <%else%> 
                       <input type=text name='custom[<%=p.field_name%>]' value='<%=p.data%>' class =input size='30'>
                     <%end%>
                    </div>
                    <%end%>
                 <%end%>
                 
                <%@new_field.each do |new_field|%>
                <div class="field">
                <label><%=new_field%></label> <br/>
                  <% if params[:custom] %>
                           <% params[:custom].each do |key, value|%>
                               <%if key==new_field%>
                                <input type=text name='custom[<%=new_field%>]' value="<%=value%>" class =input size='30'>
                                <%end%>
                            <%end%>
                     <%else%> 
                     <input type=text name='custom[<%=new_field%>]' class =input size='30'>
                     <%end%>
                </div>
                <%end%>
                
          <%end%>
     </div><!--Div second closed  -->
   

  <div class="actions " style="position: relative;
margin-left: 44%;
margin-top: 7%;">
    <%= f.submit :class=>'button' %>
  </div>

<% end %>
