<%= javascript_include_tag :defaults%>
  <h1 class="heading mar6">Listing Patients</h1>

<table border=1>
  <tr>
    <th>Patient Id</th>
    <th>Sex</th>
    <th>Ssn</th>
    <th>Birthdate</th>
    <th>First Name</th>
    <th>Middle Name</th>
    <th>Last Name</th>
    <th>Race</th>
    <th>Blood Type</th>
    <th>Address Street</th>
    <th>Address Town</th>
    <th>Address State</th>
    <th>Address Zip</th>
    <th>Address Country</th>
    <th>Tele Number</th>
    <th>Ocular Diagnosis</th>
    <th>Medical Diagnosis</th>
    <th>Date of Visit</th>
    <th>Comments</th>
    <th colspan=3>Action</th>
    
  </tr>

<% @patienttbs.each do |patienttb| %>
  <tr>
    <td><%= patienttb.patientid %></td>
    <td><%= patienttb.sex %></td>
    <td><%= patienttb.ssn %></td>
    <td><%= patienttb.birthdate.strftime("%D") if patienttb.birthdate %></td>
    <td><%= patienttb.namefirst %></td>
    <td><%= patienttb.namem %></td>
    <td><%= patienttb.namelast %></td>
    <td><%= patienttb.race %></td>
    <td><%= patienttb.bloodtype %></td>
    <td><%= patienttb.addressstreet %></td>
    <td><%= patienttb.addresstown %></td>
    <td><%= patienttb.addressstate %></td>
    <td><%= patienttb.addresszip %></td>
    <td><%= patienttb.addresscountry %></td>
    <td><%= patienttb.telenumber %></td>
    <td><%= patienttb.oculardiag %></td>
    <td><%= patienttb.medicaldiag %></td>
    <td><%= patienttb.firstvisitdate.strftime("%D") if patienttb.firstvisitdate %></td>
    <td><%= patienttb.comments %></td>
    <td><%= link_to 'Show', patienttb %></td>
    <td><%= link_to 'Edit', edit_patienttb_path(patienttb) %></td>
    <td><%= link_to 'Destroy', patienttb, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Patienttb', new_patienttb_path %>
