<!DOCTYPE html>
<html>
<head>
  <title>MedicalPro</title>
  <%= stylesheet_link_tag :all %>
  <%=stylesheet_link_tag "ims"%>
  <%#= javascript_include_tag :defaults %>
  <%=javascript_include_tag "jquery-1.7.2.min"%>
  <%=javascript_include_tag "jquery-ui-1.8.21.custom.min"%>
  <%=javascript_include_tag "chrome"%>
  <%=javascript_include_tag "lightbox"%>
</head>
<body>
<%= render :partial=>'/shared/top_menu'%>
<%= yield %>

</body>
</html>
